/attr-*
/attr/attr
attr-*.tar.gz
/autom4te.cache/
/build/rpm/attr.spec
/build/rpm/*.rpm
/build/rpm/rpmfiles*
/build/rpm/rpmmacros
/build/rpm/rpm-*.rc
/.census
/config.log
/config.status
/configure
/doc/CHANGES.gz
/getfattr/getfattr
/include/attr
/include/builddefs
/include/config.h
*.la
.libs/
*.lo
/Logs/
*[-.]manifest
*.mo
*.o
/po/attr.pot
/setfattr/setfattr
