*.la
*.lo
*.mo
*.o
*[-.]manifest
.libs/
/.census
/Logs/
/aclocal.m4
/attr-*
/attr/attr
/autom4te.cache/
/build/rpm/*.rpm
/build/rpm/attr.spec
/build/rpm/rpm-*.rc
/build/rpm/rpmfiles*
/build/rpm/rpmmacros
/config.guess
/config.log
/config.status
/config.sub
/configure
/doc/CHANGES.gz
/getfattr/getfattr
/include/attr
/include/builddefs
/include/config.h
/libtool
/ltmain.sh
/po/attr.pot
/setfattr/setfattr
attr-*.tar.gz
install-sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
