Source: attr
Section: utils
Priority: optional
Maintainer: Nathan Scott <nathans@debian.org>
Build-Depends: autoconf, debmake, libtool
Standards-Version: 3.1.1

Package: attr
Depends: ${shlibs:Depends}
Architecture: any
Description: Utility for manipulating filesystem extended attributes
 A utility for manipulating extended attributes on filesystem
 objects, compatible with the SGI IRIX tool of the same name.

Package: attr-dev
Section: devel
Priority: extra
Depends: libc6-dev, attr
Architecture: any
Description: Extended attribute static libraries and headers.
 attr-dev contains the libraries and header files needed to develop
 programs which make use of extended attributes.
 .
 This interface is compatible with the SGI IRIX extended attribute
 interface, and makes use of an unofficial Linux system call.
 .
 Currently only XFS is supported, and the (experimental, unofficial)
 system call interface is likely to change in the future.  However,
 the API built above this system call is unlikely to change and is
 used by programs such as xfsdump(8), xfsrestore(8) and xfs_fsr(8).
